
<div class="payemnet-gif">
    <img src="./assets/img/payment-boy.gif" alt="">
</div>

 
<button (click)="proceedOrder()" class="button button-item">
  <span class="button-bg">
    <span class="button-bg-layers">
      <span class="button-bg-layer button-bg-layer-1 -purple"></span>
      <span class="button-bg-layer button-bg-layer-2 -turquoise"></span>
      <span class="button-bg-layer button-bg-layer-3 -yellow"></span>
    </span>
  </span>
  <span class="button-inner">
    <span class="button-inner-static">Proceed</span>
    <span class="button-inner-hover">Proceed</span>
  </span>
</button>



