<h3 style="text-align: center; margin-top: 20px;">Our Facilities</h3>
<h1 style="text-align: center; font-weight: lighter; letter-spacing: 2px;">Check Out For Aweseome Facilitis</h1>
<div class="container" >
    <div class="row">
        <div class="col-md-4 col-sm-12">
             <div class="pool">
                <img src="./assets/img/gif-1.gif" alt="">
                <p>Swimming Pool</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="pool">
                <img src="./assets/img/toast.gif" alt="">
                <p>Bar</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="pool">
                <img src="./assets/img/disco-ball.gif" alt="">
                <p>Banquet Hall</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
             <div class="pool">
                <img src="./assets/img/restaurant.gif" alt="">
                <p>Resturant</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="pool">
                <img src="./assets/img/clock.gif" alt="">
                <p>24X7RECEPTION</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="pool">
                <img src="./assets/img/parking.gif" alt="">
                <p>Parking</p>
            </div>
        </div>
    </div>
</div>
